@tailwind base;
@tailwind components;
@tailwind utilities;

#svg {
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

#circle {
  fill: none;
  stroke: hsl(0, 0%, 100%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.bg-mesh-gradient {
  background-color: hsla(285, 100%, 13%, 1);
  background-image: radial-gradient(
      at 91% 11%,
      hsla(245, 100%, 29%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, hsla(293, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(315, 100%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 48% 98%, hsla(264, 100%, 27%, 1) 0px, transparent 50%);
}
